<p>
  <strong>Time:</strong>
  <%= @task.title %>
</p>
 
<p>
  <strong>Action:</strong>
  <%= @task.text %>
</p>

<p>
  Tags:
  <% @task.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %> |
<%= link_to 'Mark', complete_task_path(@task) %> |
<%= link_to 'Destroy', task_path(@task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>